<div class="container">
  <form class="container__form" [formGroup]="formGroup">
    <h1>Registro de Libros</h1>
    <label>Titulo</label>
    <input class="field" formControlName="title" />
    @if(formGroup.controls.title.hasError('required')){
      <span class="error" >Ingrese el titulo</span>
    }
    <label>Calificación</label>
    <app-star-rating formControlName="rating"></app-star-rating>
    @if(formGroup.controls.rating.hasError('min')){
      <span class="error" >La calificación mínima es 3</span>
    }
    <hr />
    <h3>Autor</h3>
    <app-rating-name formControlName="ratingName"></app-rating-name>
    @if(formGroup.controls.ratingName.hasError('invalidRatingName')){
      <span class="error" >(APP)Ingrese los datos requeridos</span>
    }

    <button type="button" (click)="clickSave()">Save</button>
    {{this.formGroup.valid}}
    {{this.formGroup.controls.ratingName.errors |json}}
  </form>
</div>

